.container {
  margin: 10px;
}

.index {
  background-color: #405061;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  color: white;
  width: 20px;
  text-align: center;
}

.hero-name {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  width: 200px;
  text-align: start;
}
